body {
    background-color: f9f7fe ;
}

.weather-web-page{
    background: white;
    margin: 45px auto;
    max-width: 600px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}